Package: dev.deluca.mypremiumpal
Name: MyPremiumPal
Version: 1.0.0
Architecture: iphoneos-arm
Description: Premium features unlock for MyFitnessPal
Maintainer: Michael DeLuca
Author: Michael DeLuca
Section: Tweaks
